body {
  margin: 0;
  font-family: Arial;
  font-weight: bold;
  background-color: #E2B0FF;
  /* color: #3b0b11;  */
  color: #4a4a4a;
  font-size:20px;
}

.center {
  margin:auto;
  text-align: center;
}

#info {
  width: 65%;
}

#attempt {
  display: none;
  /* position: absolute; */
  margin-top:15%;
    /* width: 5%; */
  /* left: 47.5%; */
}

#numbers {
  /* position: absolute; */
  font-size: 36px;
  margin-top: 10%;
}

#text {
  display:inline-block;
  font-size: 28px;
}

#end {
  display:inline-table;
  width: 100%;
}

#end {
  width: 100%;
  display:none;
}

#end btn {
  width: 50%;
}

.ToC {
  width:65%;
  margin: auto;
}

.inner {
  font-size: 18px;
}

input {
  border:none;
  padding: 8px 16px;
  width: 15%;
  /* margin: 8px 0; */
  font-weight: bold;
  /* color: #4a4a4a; */
  /* color: transparent; */
  text-shadow: 0 0 0 #4a4a4a;;
  font-size: 24px;
  background-color: #fff0fc;
  /* box-sizing: border-box; */
}

ul {
  font-size: 24px;
  background: #ff9999;
  padding: 20px;
}

ul li {
  background: #ffe5e5;
  padding: 5px;
  margin-left: 35px;
}

button {
  background-color: #fff0fc;
  font-weight: bold;
  border:none;
  color: #4a4a4a;
  padding: 15px 25px;
  font-size: 20px;
  outline: none;
}

button::-moz-focus-inner {
  border: 0;
}

button:hover, button:active, button:focus {
  transition: background-color .1s ease-out, color 1s ease-out;
  background-color: #4a4a4a;
  color: #fff0fc;
  outline: none;
  /* text-decoration: inherit; */
}

a {
  color:inherit;
  text-decoration: none;
  outline: none;
}
