body {
  margin: auto;
  font-family: Arial;
  font-weight: bold;
  background-color: #E2B0FF;
  /* color: #3b0b11;  */
  color: #4a4a4a;
  font-size:32px;
  width: 75%;
}

.center {
  margin:auto;
  width:65%;
}

.questions {
  font-size: 36px;
}

.right {
  float:right;
}

.answers {
  text-indent: 30px;
  font-size: 24px;
}

li {
  list-style: none;
}

input {
  outline:0;
}
