{% extends 'base.html' %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}


{% block body %}
  <div class="banner">
    <h1>Psychology! Hurray!</h1>
    <h2>How do we learn? How can this help us?</h2>
    <p>To investigate, let's begin</p>
  </div>
  <div class = "ToC">
  <ul style="list-style-type:none;">
    <li><a href="/memtest_1">A brief introduction</a></li>
      <ul style="list-style-type:none;" class="inner">
        <li><a href="/m1">Working Memory Capacity</a></li>
        <li><a href="/m2">Improving Memory</a></li>
        <li><a href="/quiz1">How much do you know?</a></li>
      </ul>
    <li>What this means for us</li>
      <ul style="list-style-type:none;" class="inner">
        <li>How we can study better</li>
        <li>Using the tools we learned</li>
        <li>What's best</li>
      </ul>
  </ul>
  <div>

{% endblock %}

{% block script %}
  <script type="text/javascript" src="{{url_for('static', filename='javascript/main.js')}}"></script>
{% endblock %}
