{% extends 'base.html' %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/memtest_2.css') }}">
{% endblock %}


{% block body %}
  <div class="center" id="info">
    <br><br>
    <h1>Welcome back</h1>
    <h2>
      <br>
      This is almost the same experiment as last time,
      but instead of single digits, we're going to try letters.
      <br><br>
      Since this'll be your second time, we'll start a little bit harder.
    </h2>
  </div>
  <div class="center" id="test">
    <button id="start">Okay</button>

    <h3 id="numbers">
    </h3>
    <br>
    <p id = "text">
    </p>

    <input type="text" id="attempt" value ="" autocomplete ="off">
    <div id="end">
      <button class="btn" id="retry">Retry</button>
      <button class="btn" id="continue"><a href="/m2">Continue</a></button>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script src="{{url_for('static', filename='javascript/memtest_2.js')}}">
    // var attempt = {{form.attempt}}
  </script>
{% endblock %}
